html,
body {
    margin: 0; /* supprime marge par défaut */
    padding: 0; /* supprime espace interne */
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif; /* police globale */
    cursor: default; /* curseur normal */
}

#landingPage {
    display: flex; /* active flexbox */
    flex-direction: column; /* disposition verticale */
    width: 100vw; /* largeur écran */
    min-height: 100vh; /* hauteur écran */
    margin: 0; /* pas de marge */
    padding: 0; /* pas d'espace interne */
    justify-content: center; /* centre vertical */
    text-align: center; /* centre texte */
}

#part1Landing {
    display: flex; /* flexbox */
    flex-direction: column; /* vertical */
    justify-content: flex-end; /* contenu en bas */
    height: 600px; /* hauteur fixe */
    background: url(https://png.pngtree.com/background/20250102/original/pngtree-holy-hajj-and-umrah-pilgrimage-at-kaaba-in-mecca-for-eid-picture-image_16053840.jpg); /* image fond */
    background-repeat: no-repeat; /* pas répétition */
    background-size: cover; /* couvre tout */
    margin-top: -160px; /* remonte */
    padding-bottom: 200px; /* espace bas */
    padding-left: 20px; /* espace gauche */
}

#landingPageTitle {
    color: rgb(210, 190, 37); /* couleur texte */
    font-weight: 700; /* gras */
    font-size: 80px; /* grande taille */
    white-space: nowrap; /* pas de retour ligne */
    margin-top: -100px; /* remonte */
    margin-left: -660px; /* décale gauche */
    display: inline; /* inline pour ne pas prendre toute la ligne */
    backdrop-filter: blur(5px); /* flou arrière */
}

#landingPara {
    color: black; /* couleur */
    font-weight: 500; /* semi-gras */
    font-size: 30px; /* taille */
    margin-top: 20px; /* espace haut */
    width: 600px; /* largeur fixe */
    backdrop-filter: blur(5px); /* flou arrière */
}

#buttons {
    display: flex; /* flexbox */
    flex-direction: row; /* horizontal */
    gap: 30px; /* espace entre */
    margin-top: 40PX; /* espace haut */
}

#loginButton:hover{
    background-color: rgb(32, 115, 183); /* couleur au survol */
}

#loginButton {
    width: 200px; /* largeur */
    height: 50px; /* hauteur */
    border-radius: 30px; /* coins arrondis */
    background-color: rgb(37, 132, 210); /* couleur */
    font-size: 23px; /* taille texte */
    border: 1px solid rgb(0, 94, 171); /* bordure */
    color: rgb(255, 255, 255); /* couleur texte */
    cursor: pointer; /* curseur main */
}

#signInButton {
    width: 200px; /* largeur */
    height: 50px; /* hauteur */
    border-radius: 30px; /* arrondi */
    background-color: rgb(37, 132, 210); /* couleur */
    font-size: 23px; /* taille */
    font-weight: 500; /* semi-gras */
    border: 1px solid rgb(0, 94, 171); /* bordure */
    color: white; /* texte blanc */
    cursor: pointer; /* main */
}

#signInButton:hover{
    background-color: rgb(32, 115, 183); /* survol */
}

#part2Landing {
    display: flex; /* flexbox */
    flex-direction: row; /* horizontal */
    gap: 20px; /* espace */
    justify-content: center; /* centre horizontal */
    align-items: center; /* centre vertical */
    width: 100vw; /* largeur écran */
    height: 600px; /* hauteur */
    margin-top: 100px; /* espace haut */
}

#modalitésInscription {
    width: 540px; /* largeur */
    height: 660px; /* hauteur */
    background-color: rgb(210, 190, 37); /* fond */
    border-radius: 20px; /* arrondi */
    padding: 10px; /* espace interne */
}

#theRules {
    width: 540px; /* largeur */
    height: 660px; /* hauteur */
    background-color: rgb(210, 190, 37); /* fond */
    border-radius: 20px; /* arrondi */
    padding: 10px; /* espace interne */
}

#winnerLandingTitle{
    margin-top: 80px; /* espace haut */
    font-size: 50px; /* taille */
    font-weight: 600; /* semi-gras */
    margin-bottom: -30px; /* remonte suivant */
}

#lastYearsWinners {
    display: flex; /* flexbox */
    flex-direction: row; /* horizontal */
    gap: 20px; /* espace */
    justify-content: flex-start; /* align gauche */
    align-items: center; /* centre vertical */
    width: 100vw; /* largeur écran */
    height: 300px; /* hauteur */
    margin-top: 100px; /* espace haut */
    background-color: rgb(0, 94, 171); /* fond */
    padding-left: 20px; /* espace gauche */
    box-sizing: border-box; /* inclut padding et bordure  */
}

.winner {
    width: 200px; /* largeur */
    height: 200px; /* hauteur */
    background-color: #ffffff; /* fond blanc */
    border-radius: 20px; /* arrondi */
    text-align: center; /* texte centré */
    display: flex; /* flexbox */
    flex-direction: column; /* vertical */
    gap: 40px; /* espace interne */
}

.winnerName {
    color: #202020; /* couleur texte */
    width: 190px; /* largeur */
    height: 10px; /* hauteur */
    font-weight: bold; /* gras */
    font-size: 28px; /* taille */
}

.yearOfWin {
    color: rgb(203, 201, 201); /* gris */
    width: 190px; /* largeur */
    height: 10px; /* hauteur */
    font-weight: bold; /* gras */
    font-size: 25px; /* taille */
}