*{
    font-family: Georgia, 'Times New Roman', Times, serif; /* font global */
    
}

/* background */
body{
    background: url(https://png.pngtree.com/background/20250102/original/pngtree-holy-hajj-and-umrah-pilgrimage-at-kaaba-in-mecca-for-eid-picture-image_16053840.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;   /* fixe le background if the page is scrolled */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;      /* hauteur minimale de la page */
    width: 100vw; 
    padding: 40px   ; 
}

/* form container */
#registerForm{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    background-color: rgba(0, 0, 0, 0.45);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: blur(6px);/* flou arrière */
  
}

/* title */
#userInfoTitle{
    font-size: 50px; 
    font-weight: 700; 
    color: white; 
    text-align: center;
}

/* inputs */
.userInfo{
    width: 600px; 
    height: 45px; 
    border-radius: 20px; 
    background-color: rgb(237, 227, 146);
    border: none; 
    padding-left: 20px; 
    cursor: text; 

}


/* button */
button{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: rgb(37, 132, 210);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(32, 115, 183); /* hover effect */
}

